.home-header {
    width: 21rem;
    height: 7rem;
    margin: auto;
    border-radius: 0.625rem;
    background: url('../assets/header_banner.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.home-header::before {
    content: '';
    background-color: black;
    mix-blend-mode: darken;
    position: absolute;
    border-radius: inherit;
    inset: 0;
    opacity: 30%;
}

.home-header-text {
    font-size: 1.5rem;
    width: 13.5rem;
    color: white;
    padding-left: 1rem;
    mix-blend-mode: screen;
}

@media screen and (min-width: 700px) {
    .home-header {
        width: 90vw;
        height: 14rem;
        background-image: url('../assets/header_banner_desktop.png');
        background-size: cover;
    }

    .home-header-text {
        width: auto;
        text-align: center;
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .home-header-text {
        font-size: 3rem;
    }
    
    .home-card-container {
        width: 90vw;
        background-color: #f6f6f6;
        margin: 2.75rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1rem 0;
        border-radius: 1.625rem;
        box-sizing: border-box;
    }
}