.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin: 1rem;
}

.header-link {
  font-size: 0.75rem;
  text-decoration: none;
  color : #FF6060;
  margin-right: 0.625rem;
}

.header-link:hover {
  text-decoration: underline;
}

.header-link:active {
  text-decoration: underline;
}

.header-nav {
  margin-right: 1rem;
}
